#%RAML 1.0
---

title: Pull Notifications
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: [ application/xml ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
  - title: Testing
    content: !include docs/testing.md

/notifications:
    /unpulled:
      /:
      get:
        displayName: Get an list of unpulled notifications
        description: Allows retrieval of unpulled notifications
        headers:
          Accept:
            description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
            type: string
            required: true
            example: application/vnd.hmrc.1.0+xml
        securedBy: [ sec.x-application ]
        responses:
          200:
            body:
              application/xml:
                description: Valid XML Payload
                example: |
                  <resource href="/notifications/unpulled/">
                      <link rel="self" href="/notifications/unpulled/"/>
                      <link rel="notification" href="/notifications/unpulled/7ab99957-b138-4f09-888e-ab4e8107bbe0"/>
                  </resource>
      /{notificationId}:
        uriParameters:
          notificationId:
            description: Notification identifier UUID
            type: string
            example: "3851c039-107a-42c9-94a9-180893e5f0d5"
        get:
          displayName: Get an unpulled notification
          description: Allows retrieval of an unpulled notification
          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.1.0+xml
          securedBy: [ sec.x-application ]
          responses:
            200:
              body:
                application/xml:
                  description: Valid XML Payload
                  example: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <_2:MetaData xmlns:_2="urn:wco:datamodel:WCO:DocumentMetaData-DMS:2"><_2:WCODataModelVersionCode>3.6</_2:WCODataModelVersionCode><_2:WCOTypeName>RES</_2:WCOTypeName><_2:ResponsibleCountryCode/><_2:ResponsibleAgencyName/><_2:AgencyAssignedCustomizationCode/><_2:AgencyAssignedCustomizationVersionCode/><_2_1:Response xmlns:_2_1="urn:wco:datamodel:WCO:RES-DMS:2">
                          <_2_1:FunctionCode>03</_2_1:FunctionCode>
                          <_2_1:FunctionalReferenceID>0f3ec64eec704999995ddf5a3ca9cc0b</_2_1:FunctionalReferenceID>
                          <_2_1:IssueDateTime>
                            <_2_2:DateTimeString formatCode="304" xmlns:_2_2="urn:wco:datamodel:WCO:Response_DS:DMS:2">20190220165953Z</_2_2:DateTimeString>
                          </_2_1:IssueDateTime>
                          <_2_1:Error>
                            <_2_1:ValidationCode>CDS12014</_2_1:ValidationCode>
                            <_2_1:Pointer>
                              <_2_1:DocumentSectionCode>42A</_2_1:DocumentSectionCode>
                              <_2_1:TagID>D013</_2_1:TagID>
                            </_2_1:Pointer>
                          </_2_1:Error>
                          <_2_1:Error>
                            <_2_1:ValidationCode>CDS12015</_2_1:ValidationCode>
                            <_2_1:Pointer>
                              <_2_1:DocumentSectionCode>42A</_2_1:DocumentSectionCode>
                              <_2_1:TagID>D014</_2_1:TagID>
                            </_2_1:Pointer>
                          </_2_1:Error>
                          <_2_1:Declaration>
                            <_2_1:FunctionalReferenceID>gq8lPty99999NLgUQMSAmg</_2_1:FunctionalReferenceID>
                            <_2_1:ID>19GB20GF2F99999VR4</_2_1:ID>
                            <_2_1:RejectionDateTime>
                              <_2_2:DateTimeString formatCode="304" xmlns:_2_2="urn:wco:datamodel:WCO:Response_DS:DMS:2">20190220165953Z</_2_2:DateTimeString>
                            </_2_1:RejectionDateTime>
                            <_2_1:VersionID>1</_2_1:VersionID>
                          </_2_1:Declaration>
                        </_2_1:Response>
                    </_2:MetaData>
            400:
              body:
                application/xml:
                  description: Invalid XML Payload
                  example: |
                      <?xml version="1.0" encoding="UTF-8"?>
                      <errorResponse>
                        <code>BAD_REQUEST</code>
                        <message>Notification is unpulled</message>
                      </errorResponse>
            404:
              body:
                application/xml:
                  description: Invalid XML Payload
                  example: |
                      <?xml version="1.0" encoding="UTF-8"?>
                      <errorResponse>
                        <code>NOT_FOUND</code>
                        <message>Resource was not found</message>
                      </errorResponse>

    /pulled:
      /:
      get:
        displayName: Get an list of pulled notifications
        description: Allows retrieval of pulled notifications
        headers:
          Accept:
            description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
            type: string
            required: true
            example: application/vnd.hmrc.1.0+xml
        securedBy: [ sec.x-application ]
        responses:
          200:
            body:
              application/xml:
                description: Valid XML Payload
                example: |
                  <resource href="/notifications/pulled/">
                      <link rel="self" href="/notifications/pulled/"/>
                      <link rel="notification" href="/notifications/pulled/7ab99957-b138-4f09-888e-ab4e8107bbe0"/>
                  </resource>
      /{notificationId}:
        uriParameters:
          notificationId:
            description: Notification identifier UUID
            type: string
            example: "3851c039-107a-42c9-94a9-180893e5f0d5"
        get:
          displayName: Get a pulled notification
          description: Allows retrieval of a notification that has already been pulled
          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.1.0+xml

          securedBy: [ sec.x-application ]
          responses:
            200:
              body:
                application/xml:
                  description: Valid XML Payload
                  example: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <_2:MetaData xmlns:_2="urn:wco:datamodel:WCO:DocumentMetaData-DMS:2"><_2:WCODataModelVersionCode>3.6</_2:WCODataModelVersionCode><_2:WCOTypeName>RES</_2:WCOTypeName><_2:ResponsibleCountryCode/><_2:ResponsibleAgencyName/><_2:AgencyAssignedCustomizationCode/><_2:AgencyAssignedCustomizationVersionCode/><_2_1:Response xmlns:_2_1="urn:wco:datamodel:WCO:RES-DMS:2">
                          <_2_1:FunctionCode>03</_2_1:FunctionCode>
                          <_2_1:FunctionalReferenceID>0f3ec64eec704999995ddf5a3ca9cc0b</_2_1:FunctionalReferenceID>
                          <_2_1:IssueDateTime>
                            <_2_2:DateTimeString formatCode="304" xmlns:_2_2="urn:wco:datamodel:WCO:Response_DS:DMS:2">20190220165953Z</_2_2:DateTimeString>
                          </_2_1:IssueDateTime>
                          <_2_1:Error>
                            <_2_1:ValidationCode>CDS12014</_2_1:ValidationCode>
                            <_2_1:Pointer>
                              <_2_1:DocumentSectionCode>42A</_2_1:DocumentSectionCode>
                              <_2_1:TagID>D013</_2_1:TagID>
                            </_2_1:Pointer>
                          </_2_1:Error>
                          <_2_1:Error>
                            <_2_1:ValidationCode>CDS12015</_2_1:ValidationCode>
                            <_2_1:Pointer>
                              <_2_1:DocumentSectionCode>42A</_2_1:DocumentSectionCode>
                              <_2_1:TagID>D014</_2_1:TagID>
                            </_2_1:Pointer>
                          </_2_1:Error>
                          <_2_1:Declaration>
                            <_2_1:FunctionalReferenceID>gq8lPty99999NLgUQMSAmg</_2_1:FunctionalReferenceID>
                            <_2_1:ID>19GB20GF2F99999VR4</_2_1:ID>
                            <_2_1:RejectionDateTime>
                              <_2_2:DateTimeString formatCode="304" xmlns:_2_2="urn:wco:datamodel:WCO:Response_DS:DMS:2">20190220165953Z</_2_2:DateTimeString>
                            </_2_1:RejectionDateTime>
                            <_2_1:VersionID>1</_2_1:VersionID>
                          </_2_1:Declaration>
                        </_2_1:Response>
                    </_2:MetaData>
            400:
              body:
                application/xml:
                  description: Invalid XML Payload
                  example: |
                      <?xml version="1.0" encoding="UTF-8"?>
                      <errorResponse>
                        <code>BAD_REQUEST</code>
                        <message>Notification is unpulled</message>
                      </errorResponse>
            404:
              body:
                application/xml:
                  description: Invalid XML Payload
                  example: |
                      <?xml version="1.0" encoding="UTF-8"?>
                      <errorResponse>
                        <code>NOT_FOUND</code>
                        <message>Resource was not found</message>
                      </errorResponse>

    /:
      get:
        displayName: Get a list of all available notifications (deprecated)
        description: |
          *This endpoint has been deprecated. It will be removed in a future release.*


          *It is recommended that your application use the Pull Notifications API as described under Retrieve pull notifications.*


          Allows retrieval of a list of notifications waiting to be pulled.
        headers:
          Accept:
            description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
            type: string
            required: true
            example: application/vnd.hmrc.1.0+xml

        securedBy: [ sec.x-application ]
        responses:
          200:
            body:
              application/xml:
                description: Valid XML Payload
                example: |
                  <resource href="/notifications/">
                      <link rel="self" href="/notifications/"/>
                      <link rel="notification" href="/notifications/7ab99957-b138-4f09-888e-ab4e8107bbe0"/>
                  </resource>

    /{id}:
      delete:
        displayName: Retrieve and delete a notification from the queue (deprecated)
        description: |
          *This endpoint has been deprecated. It will be removed in a future release.*


          *It is recommended that your application use the Pull Notifications API as described under Retrieve pull notifications.*


          Allows retrieval of individual notifications. The notification will be returned in the response body and then deleted from the queue.
        headers:
          Accept:
            description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
            type: string
            required: true
            example: application/vnd.hmrc.1.0+xml

        securedBy: [ sec.x-application ]
        responses:
          200:
            body:
              application/xml:
                description: The saved message
                example: |
                  <example>
                    Saved Message
                  </example>
          404:
